h1,
h2,
h3,
p,
ul,
li,
body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #0d265e;
}

body {
    overflow-x: hidden;
    font-family: 微软雅黑;
}

html {
    background-color: #FBFBFB;
}

.flex-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header {
    padding: 15px;
    box-sizing: border-box;
}

#menu {
    cursor: pointer;
}

.header>.left>.text>p:first-child {
    font-size: 3vw;
    font-weight: 500;
}

.header>.left>.text>.text-min {
    font-size: 4.2vw;
    font-weight: bold;
    animation: colorChange 3s ease-in-out infinite;
    display: flex;
    align-items: center;
}

.header>.left>.text>.text-min>img {
    width: 5.5vw;
    margin-left: .7vw;
}

@keyframes colorChange {
    0% {
        color: #3498db;
        /* 初始颜色，淡蓝色 */
    }
    50% {
        color: #2ecc71;
        /* 中间过渡到翡翠绿 */
    }
    100% {
        color: #e74c3c;
        /* 最终颜色，深红色 */
    }
}

.ava {
    width: 11vw;
    border-radius: 50%;
    margin-right: 10px;
}

.header-2 {
    background-color: #1B47C3;
    color: #FFF;
    border-radius: 30px 30px 0 0;
    padding: 35px 0;
    padding-bottom: 85px;
    position: relative;
    overflow: hidden;
}

.popup-BZDH86 {
    background-color: #FFF;
    width: 35%;
    position: absolute;
    right: 5vw;
    top: 0;
    display: flex;
    flex-direction: column;
    border-radius: 5vw;
    padding: 5vw;
    display: none;
}

.popup-BZDH86>a {
    display: flex;
    align-items: center;
    font-size: 4.2vw;
    font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

.popup-BZDH86>a:nth-child(2) {
    margin-top: 5vw;
    color: #FD4E4E;
}

.popup-BZDH86>a>img {
    width: 6vw;
    margin-right: 2vw;
}

.usdt-bac {
    width: 39vw;
    position: absolute;
    opacity: .07;
    top: 2vw;
    right: -15%;
}

.header-2>p:nth-child(2) {
    font-weight: bold;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 1);
    animation: bounceText 2s ease-in-out infinite;
    /* 指定动画名称、持续时间、速度函数和重复次数 */
}


/* 定义关键帧动画 */

@keyframes bounceText {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0) scale(1);
        /* 初始位置和每次跳动的高度，同时取消旋转 */
    }
    40% {
        transform: translateY(-2.7vw) scale(1.1);
        /* 跳起的高度，同时逆时针旋转 */
    }
    60% {
        transform: translateY(-1.4vw) scale(1);
        /* 落下的高度，同时顺时针旋转 */
    }
}

.header-2>.big-text {
    margin-top: 7px;
    margin-bottom: 14px;
}

.header-2>.big-text>img {
    width: 7.7vw;
}

.header-2>.big-text>p {
    font-size: 7vw;
    font-weight: bold;
    margin-left: 7px;
    align-items: start;
}

.header-2>.big-text>p>font {
    font-size: 4.5vw;
    margin-top: 5px;
}

.header-2>.big-text>h1 {
    font-size: 5.1vw;
}

.header-2>.info-text {
    background-color: rgba(0, 0, 0, .4);
    padding: 1.7vw 7vw;
    border-radius: 10vw;
    font-size: 3.5vw;
}

.logo {
    width: 5.7vw !important;
    margin: 0 5px;
    animation: rotateAnimation 4s linear infinite;
    /* 指定动画名称、持续时间、动画速度和重复次数 */
}


/* 定义关键帧动画 */

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.main {
    padding: 25px;
    border-radius: 30px 30px 0 0;
    background-color: #FBFBFB;
    transform: translateY(-60px);
}

.tishi {
    font-size: 3.5vw;
    text-align: center;
    transform: translateY(-2.5vw);
    font-weight: bold;
    color: #fff;
    -webkit-text-stroke: .5px #000;
    font-family: "Microsoft YaHei", sans-serif;
}

.main-1 {
    border-radius: 3vw;
    background-color: #FFF;
    box-shadow: 0 0 2.6666666667vw rgba(45, 98, 217, .15);
}

.main-1>ul {
    padding: 2vw;
    list-style: none;
}

.main-1>ul>li {
    width: 33%;
    text-align: center;
    padding: 3.5vw 0;
    border-radius: 3vw;
    font-weight: bold;
    font-size: 3.5vw;
    color: #707489;
    cursor: pointer;
    transition: color 0.3s ease;
}

.li-active {
    color: #FFF !important;
    background-color: #1B47C3;
}

.main-1-content>.content-box {
    display: none;
    padding: 10px;
    padding-top: 0;
}

.main-1-content>.content-box>.content-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 4vw;
    border-radius: 3vw;
}

.main-1-content>.content-box>.content-list>.content-item {
    width: 25%;
    margin-bottom: 3.7vw;
}

.main-1-content>.content-box>.content-list>.content-item>a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 3.5vw;
    position: relative;
}

.red-span {
    color: red;
    font-weight: bold;
}

.main-1-content>.content-box>.content-list>.content-item>a>img {
    width: 13vw;
    height: 13vw;
    border-radius: 3vw;
    box-shadow: 0 0 2.6666666667vw rgba(45, 98, 217, .15);
    margin-bottom: 3px;
}

.main-2 {
    color: #0d265e;
}

.main-2>.title {
    font-size: 4vw;
    font-weight: bold;
    margin-left: 3px;
}

.main-2>.card {
    display: flex;
    justify-content: space-between;
    padding: 3.7vw;
    border-radius: 4vw;
    margin-top: 2vw;
    box-shadow: 0 4px 10px 0 rgba(45, 98, 217, .13);
}

.main-2>.card>.card-main>img {
    width: 10vw;
    height: 10vw;
    margin-right: 2.2vw;
}

.main-2>.card>.card-main>.card-info>p:first-child {
    font-size: 4vw;
    font-weight: bold;
}

.main-2>.card>.card-main>.card-info>p:nth-child(2) {
    font-size: 3.3vw;
    font-weight: 500;
}

.main-2>.card>.left {
    width: 4vw;
}

.card-bac {
    background: url(../img/bac.png);
    background-size: cover;
    color: #FFF;
}

.card-bac2 {
    background-color: #0B57D0;
    color: #FFF;
    position: relative;
    overflow: hidden;
}

.card-bac3 {
    background-color: #1B47C3;
    color: #FFF;
    position: relative;
}

.card-bac5 {
    background-color: #3B3486;
    color: #FFF;
}

.card-bac6 {
    background-color: #5d589b;
    color: #fff;
}

.yh-28q {
    border-radius: 2vw;
}

.logo-2 {
    width: 17vw;
    opacity: .1;
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
}

.main-3 {
    width: 100%;
    border-radius: 4vw;
    margin-top: 7vw;
    overflow: hidden;
    box-shadow: 0 4px 10px 0 rgba(45, 98, 217, .13);
}

.main-3>a {
    width: 100%;
}

.main-3>a>img {
    width: 100%;
    height: 42vw;
}

.main-3>a>.main-3-info {
    width: 100%;
    padding: 2vw 3vw;
    padding-bottom: 3.5vw;
    box-sizing: border-box;
    font-size: 3.3vw;
}

.main-3>a>.main-3-info>p:first-child {
    font-size: 3.7vw;
    font-weight: bold;
    margin-bottom: 1vw;
}

.main-3>a>.main-3-info>p:nth-child(2) {
    letter-spacing: .2vw;
    color: #707489;
}

.google>.google-logo {
    font-size: 4.2vw;
    margin-right: 1vw;
}

.google-logo {
    display: flex;
    font-weight: bold;
}

.text-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* 
.google-logo>span:first-child {
    color: #1B47C3;
}

.google-logo>span:nth-child(2) {
    color: #EA4335;
}

.google-logo>span:nth-child(3) {
    color: #FBBC05;
}

.google-logo>span:nth-child(4) {
    color: #1B47C3;
}

.google-logo>span:nth-child(5) {
    color: #34A853;
}

.google-logo>span:nth-child(6) {
    color: #EA4335;
} */

.footer-sj {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-20px);
    font-size: 3.5vw;
    font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

.footer-sj>.footer-sj-main {
    width: 90%;
    margin-bottom: 3vw;
    display: flex;
    justify-content: center;
}

.footer-sj>.footer-sj-main>a {
    margin: 0 1.5vw;
}

.footer-sj>.footer-sj-main>a>img {
    width: 7.9vw;
}

.tips-box {
    position: relative;
}

.tips-text {
    color: #FFF;
    background: red;
    font-size: 2.5vw;
    position: absolute;
    left: 3.5vw;
    padding: .3vw;
    font-weight: bold;
    border-radius: 1vw;
}

@media screen and (min-width: 1200px) {
    .tishi {
        display: none;
    }
    .ava {
        width: 3vw;
    }
    .header {
        width: 100%;
        padding: .7vw 5vw;
    }
    .header>.left>.text>p:first-child {
        font-size: .77vw;
        font-weight: 500;
    }
    .header>.left>.text>.text-min {
        font-size: 1vw;
    }
    .header>.left>.text>.text-min>img {
        margin-left: .3vw;
        width: 1.4vw;
    }
    .pc-media {
        margin: 0 auto;
        margin-top: 3.5vw;
        width: 70%;
        display: flex;
        border-radius: 2vw;
        overflow: hidden;
        box-shadow: 0 0 2.6666666667vw rgba(45, 98, 217, .15);
    }
    .main {
        width: 50%;
        padding: 0;
        transform: translateY(0);
        border-radius: 0;
        background-color: #fff;
    }
    .header-2 {
        width: 50%;
        border-radius: 0;
        padding: 7vw 0;
    }
    .usdt-bac {
        width: 25vw;
        position: absolute;
        opacity: .07;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .header-2>.big-text>img {
        width: 3vw;
    }
    .header-2>.big-text>p {
        font-size: 2.8vw;
    }
    .header-2>.big-text>p>font {
        font-size: 1.8vw;
    }
    .header-2>.big-text>h1 {
        font-size: 2.1vw;
    }
    .header-2>.info-text {
        padding: 1.7vw 2vw;
        font-size: 1.2vw;
    }
    .popup-BZDH86 {
        width: 10vw;
        position: fixed;
        z-index: 999;
        top: 3vw;
        border-radius: 1vw;
        padding: 1vw;
    }
    .popup-BZDH86>a {
        font-size: 1vw;
    }
    .popup-BZDH86>a:nth-child(2) {
        margin-top: 1.2vw;
    }
    .popup-BZDH86>a:nth-child(3) {
        display: none;
    }
    .popup-BZDH86>a>img {
        width: 2vw;
        margin-right: .35vw;
    }
    .google>.google-logo {
        font-size: 1.4vw;
        margin-right: 1vw;
    }
    .logo {
        width: 2.3vw !important;
    }
    .main-1 {
        display: flex;
        border-radius: 0;
        box-shadow: none;
    }
    .main-1>ul {
        width: 35%;
        height: 20vw;
        flex-direction: column;
        justify-content: center;
        padding: 1vw;
    }
    #jhjc-tab {
        display: block !important;
    }
    #yusq-tab {
        display: block !important;
    }
    .main-1>ul>li {
        width: 100%;
        padding: .7vw 0;
        border-radius: .3vw;
        font-size: 1vw;
    }
    .main-1-content {
        width: 65%;
    }
    .main-1-content>.content-box>.content-list {
        width: 100%;
        padding-top: 4vw;
        border-radius: 3vw;
    }
    .main-1-content>.content-box>.content-list>.content-item {
        margin-bottom: 2vw;
    }
    .main-1-content>.content-box>.content-list>.content-item>a {
        font-size: 1vw;
    }
    .main-1-content>.content-box>.content-list>.content-item>a>img {
        width: 3vw;
        height: 3vw;
        border-radius: .6vw;
        margin-bottom: 3px;
    }
    .main-2 {
        display: none;
    }
    .main-3 {
        display: none;
    }
    .tips-text {
        display: none;
    }
    .footer-sj {
        font-size: 1.2vw;
    }
    .footer-sj>.footer-sj-main {
        margin-top: 4.2vw;
        padding-top: 2vw;
        width: 50%;
        margin-bottom: 1.2vw;
    }
    .footer-sj>.footer-sj-main>a>img {
        width: 2vw;
    }
}